#!/usr/bin/make -f
# -*- makefile -*-

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

DESTDIR = debian/envx-enode-lib
override_dh_install:
	install -m 755 -d $(DESTDIR)/usr/lib/envx-enode-lib
	install -m 644 *.functions $(DESTDIR)/usr/lib/envx-enode-lib
